.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat {
  overflow-y: auto;
  background-color: #F1F8FB;
  height: calc(100% - 70px);
}

.messageInput {
  flex-shrink: 0;
  align-content: flex-end;
}
